.header {
  display: flex;
  flex-direction: row;
  background-color: #072c46;
  justify-content: space-between;
  color: white;
}

.header-brand {
  margin: 0 30px;
  align-self: flex-start;
  text-decoration: none;
  color: white;
}
.header-admin-link {
  color: white;
  text-decoration: none;
  align-self: flex-end;

  margin-right: 15vw;
}
